{{- define "main" -}}

<div class="pub">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    {{ if .Params.abstract }}
      <h4>{{ i18n "abstract" }}</h4>
      <p class="pub-abstract">{{ .Params.abstract | markdownify | emojify }}</p>
    {{ else }}
      <br>
    {{ end }}
    
    {{ if .Params.speaker }}
    <div class="row">
      <div class="col-12 col-md-2 pub-row-heading">{{ i18n "speaker" }}</div>
      <div class="col-12 col-md-10">{{ .Params.speaker | markdownify | emojify }}</div>
    </div>
    <div class="d-md-none space-below"></div>
    {{end}}

    <div class="article-style">
      {{ .Content }}
    </div>

    {{ partial "page_footer" . }}

  </div>
</div>
{{- end -}}
